<% if user_signed_in? %>
      <% if !current_user.subscribed %>
            <script type="text/javascript">
                window.location.href="subscribers/new"
             </script>
      <% end %>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Videoid:</strong>
  <%= @trailer.videoID %>
</p>

<%= link_to 'Edit', edit_trailer_path(@trailer) %> |
<%= link_to 'Back', trailers_path %>
