<p>Welcome to MovieShow!</p>

<p>We are glad to see you aborad!<br>
  You need to confirm your account to start using our application trough the link bellow:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
